.search-section {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  background-color: #3030a3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.js-page-header {
  min-height: 70px;
}

.search-container {
  max-width: 1200px;

  padding: 0 15px;
  margin: 0 auto;
}

.search-form {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0 auto;

  width: 500px;

  &__input {
    position: relative;

    padding-left: 15px;
    padding-right: 55px;

    width: 500px;
    min-height: 40px;

    font-size: 16px;
    line-height: calc(20 / 16);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
  }
}

.search-btn {
  position: absolute;

  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  padding: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: transparent;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within,
  &:hover {
    background-color: #2196f3;
  }
}

.search-icon {
  fill: #3030a3;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .search-btn:focus-within &,
  .search-btn:hover & {
    fill: #ffffff;
  }
}
